.product {
    display: block;
    height: 100%;
}

.productWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImage {
    max-width: 100%;
    margin-bottom: 20px;
}

.productImageItem {
    max-width: 100%;
    object-fit: contain;
    height: 200px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 0 1 auto;
    height: 100%;
}

.productInfoTop, .productInfoBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.productInfoTop {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    color: #122947;
    margin-bottom: 10px;
    flex: 1 0 auto;
}

.productInfoBottom {
    flex: 1 0 auto;
}

.productInfoTop .productInfoItem:first-child {
    display: flex;
    flex: 0 1 75%;
    justify-content: flex-start;
}
.productInfoTop .productInfoItem:last-child {
    display: flex;
    flex: 0 1 25%;
    justify-content: flex-end;
}

.productInfoBottom .productInfoItem {
    display: flex;
    flex: 0 0 50%;
}

.productInfoBottom .productInfoItem:first-child{
    justify-content: flex-start;
}

.productInfoBottom .productInfoItem:last-child{
    justify-content: flex-end;
}

.productInfoBottom {
    font-family: 'Mplus 1p', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 145%;
    color: #9A9DA0;
    flex: 0 1 auto;
}

@media screen and (max-width: 1200px) {
    .productTitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 1080px) {
    .productImageItem {
        height: 130px;
    }
    .productTitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .productImage {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .productImageItem {
        height: 100px;
    }
    .productInfoTop {
        flex-direction: column;
        height: max-content;
        margin-bottom: 20px;
    }
    .productPrice {
        width: 100% !important;
        justify-content: center !important;
        align-items: center;
    }
    .productTitle {
        margin-bottom: 10px;
        text-align: center;
    }
    .productInfoBottom {
        flex-direction: column;
    }
    .productRate {
        width: 100%;
        margin-bottom: 10px;
    }
    .productCount {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
}