.cartItem {
    display: flex;
    margin-bottom: 40px;
    padding: 30px 20px;
    justify-content: center;
    align-items: center;
}

.cartImage {
    max-width: 250px;
    max-height: 250px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartImageItem {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.cartItemInfoTop {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.cartItemInfoBottom {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    align-items: center;
    margin-top: 30px;
}

.cartItemTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: #122947;
    margin-bottom: 20px;
}

.cartItemCategory {
    font-family: 'Mplus 1p', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #9A9DA0;
    margin-bottom: 20px;
}

.description {
    width: 30%;
}

.cartItemPrice, .cartItemCount {
    font-family: 'Mplus 1p', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 145%;
    color: #122947;
    margin-right: 40px;
}

.cartItemCount {
    margin-right: 0;
}

.cardItemInfoBlock {
    display: flex;
}

.cardItemActionsPanel {
    display: flex;
}

.cardItemAction {
    margin-right: 20px;
    font-size: 14px;
    font-family: 'Mplus 1p', sans-serif;
    padding: 15px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .cartItemInfoBottom {
        flex-direction: column;
    }

    .cardItemInfoBlock {
        margin-bottom: 15px;
    }

    .cartItemPrice {
        margin-right: 30px;
    }
}


@media screen and (max-width: 1200px) {
    .cartItemInfo {
        width: 40%;
    }
}

@media screen and (max-width: 1080px) {
    .cartItemTitle {
        font-size: 24px;

    }
    .description {
        width: auto !important;
    }
    .cartItemPrice, .cartItemCount {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .cartImage {
        max-width: 150px;
        max-height: 150px;
        margin-right: 30px;
    }
    .cartItemTitle {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 115%;
    }
    .cartItemCategory {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .cartItemInfo {
        width: 60%;
    }
    .remove {
        width: 120px !important;
        padding: 6px !important;
        font-size: 12px !important;
    }
    .cartItemInfoBottom {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cartItemPrice, .cartItemCount {
        margin-right: 30px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .cartItemInfo {
        width: 100%;
    }
    .cartItem {
        padding: 15px;
        flex-direction: column;
    }
    .cartImage {
        margin: 0 0 50px 0;
    }
    .cartItemTitle {
        font-size: 14px;
        text-align: center;
    }
    .cartItemCategory {
        text-align: center;
        margin-bottom: 10px;
    }
    .cartItemInfoBottom {
        margin-top: 10px;
    }
    .cartItemPrice, .cartItemCount {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 360px) {

}